body {
	background: none repeat scroll 0 0 #000000;
	color: #555555;
	font: 10pt Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
}
#headersite {
	background: none repeat scroll 0 0 #1A1A1A;
}
#headersite h2 {
	color: #FFFFFF;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

#bodysite{
	background-color:#F5F5F5;
}


#footbar {
	background-color: #4D4D4D;
	color: #FFFFFF;
}

#footbar h3{
	color: #FFFFFF;
}

#footersite {
	background-color: #000000;
	color: #FFFFFF;
}
#footersite h3 {
	color: #FFFFFF;
}
#header {
	border-bottom: 3px solid #CCCCCC;
	margin: 0;
	padding: 0;
	position: relative;
	height:75px;
}
#logo {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 200%;
	line-height: 50px;
	
}
#mainmenu {
	position:absolute;
	right:0;
	bottom:0;
}
#mainmenu ul {
	margin: 0;
}
#mainmenu ul li {
	display: inline;
}
#mainmenu ul li a {
	padding:0;
	margin:0;
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 120px;
	border-right:2px solid #ffffff;
}

#mainmenu ul li a.last {
	border-right:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	background-color: #CCCCCC;
	color: #000000;
	text-decoration: none;
}
#content {
	
}

#slideshow{
	
	
}

#slideshow img{
	
}
#slideshow .info{
	
}
	
#slideshow .info .row{
	
}
#slideshow .info .row .title{
}
#slideshow .info .row .value{
}

#sidebar {
	padding: 20px 20px 20px 0;
}
#footer {
	
}
div.flash-error, div.flash-notice, div.flash-success {
	border: 2px solid #DDDDDD;
	margin-bottom: 1em;
	padding: 0.8em;
}
div.flash-error {
	background: none repeat scroll 0 0 #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
div.flash-notice {
	background: none repeat scroll 0 0 #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}
div.flash-success {
	background: none repeat scroll 0 0 #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.flash-error a {
	color: #8A1F11;
}
div.flash-notice a {
	color: #514721;
}
div.flash-success a {
	color: #264409;
}
div.form .rememberMe label {
	display: inline;
}
div.view {
	border: 1px solid #C9E0ED;
	margin: 10px 0;
	padding: 10px;
}
div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}
div.breadcrumbs span {
	font-weight: bold;
}
div.search-form {
	background: none repeat scroll 0 0 #EEEEEE;
	margin: 10px 0;
	padding: 10px;
}
.portlet {

}
.portlet-decoration {
	background: none repeat scroll 0 0 #B7D6E7;
	border-left: 5px solid #6FACCF;
	padding: 3px 8px;
}
.portlet-title {
	color: #298DCD;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.portlet-content {
	background: none repeat scroll 0 0 #EFFDFF;
	font-size: 0.9em;
	margin: 0 0 15px;
	padding: 5px 8px;
}
.portlet-content ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.portlet-content li {
	padding: 2px 0 4px 0;
}
.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.operations li {
	padding-bottom: 2px;
}
.operations li a {
	color: #0066A4;
	display: block;
	font: bold 12px/15px Arial;
	padding: 2px 0 2px 8px;
	text-decoration: none;
}
.operations li a:visited {
	color: #0066A4;
}
.operations li a:hover {
	background: none repeat scroll 0 0 #80CFFF;
}

#customer-filter .row{
	
}
#customer-filter .row label{
	
}

#customer-filter .row select{
	
}


