/*
	GLOBAL
 */

body {
	background: none repeat scroll 0 0 #000000;
	color: #555555;
	font: 10pt Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

#bodysite {
	background-color:#F5F5F5;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}


/*
	HEADER
 */
 
#headersite {
	background: none repeat scroll 0 0 #1A1A1A;
}

#headersite h2 {
	color: #FFFFFF;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

#top-menu li{
	display: inline;
	list-style: none;
	padding-left: 10px;
}

#header {
	border-bottom: 3px solid #CCCCCC;
	margin-bottom: 20px;
	padding: 0;
	height:75px;
}

#logo {
	
	left:0;
	bottom:0;
	margin-top: 35px;
	font-size: 200%;
	line-height: 50px;
}

#mainmenu {
	margin-top: 35px;
}

#mainmenu ul {
	margin: 0;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	padding:0;
	margin:0;
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 120px;
	border-right:2px solid #ffffff;
}

#mainmenu ul li a.last {
	border-right:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	background-color: #CCCCCC;
	color: #000000;
	text-decoration: none;
}


/*
	SLIDESHOW
 */


#slideshow{
	
}

#slideshow img{
	
}

#slideshow .info{
	position: absolute;
	height: 290px;
	width: 290px;
	left: 629px;
	top: 138px;
	background-color: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	padding: 30px;
	color: #FFFFFF;
}
	
#slideshow .info .row{
	padding: 5px 0;
	border-bottom: 1px dashed #FFFFFF;
}
#slideshow .info .row .title{
}
#slideshow .info .row .value{
}



/*
	CONTENT
 */
 
.content {
	padding: 20px 0;
}

.ptitle, .stitle {
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

.pcontent, .scontent {
	padding: 20px 0;
	border-top: 1px solid #FFFFFF;
}

.scontent li {
	list-style-type: none;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
}

#post-image {
	padding-right: 20px;
}
 


/*
	FOOTER
 */
 
#footbar {
	background-color: #4D4D4D;
	color: #FFFFFF;
	padding: 20px;
}
 
#footbar h3{
	color: #FFFFFF;
	padding-bottom: 10px;
}

#footbar li {
	list-style-type: square;
	padding-bottom: 3px;
}

#footersite {
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px 0;
}
#footersite h3 {
	color: #FFFFFF;
}

#content {
	
}

#sidebar {
	padding: 20px 20px 20px 0;
}
#footer {
	
}
div.flash-error, div.flash-notice, div.flash-success {
	border: 2px solid #DDDDDD;
	margin-bottom: 1em;
	padding: 0.8em;
}
div.flash-error {
	background: none repeat scroll 0 0 #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
div.flash-notice {
	background: none repeat scroll 0 0 #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}
div.flash-success {
	background: none repeat scroll 0 0 #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.flash-error a {
	color: #8A1F11;
}
div.flash-notice a {
	color: #514721;
}
div.flash-success a {
	color: #264409;
}
div.form .rememberMe label {
	display: inline;
}
div.view {
	border: 1px solid #C9E0ED;
	margin: 10px 0;
	padding: 10px;
}
div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}
div.breadcrumbs span {
	font-weight: bold;
}
div.search-form {
	background: none repeat scroll 0 0 #EEEEEE;
	margin: 10px 0;
	padding: 10px;
}

.form .checkbox label{
	display:inline;
}

.form .checkbox .title{
	display:block;
	float:left;
}




.portlet {

}
.portlet-decoration {
	background: none repeat scroll 0 0 #B7D6E7;
	border-left: 5px solid #6FACCF;
	padding: 3px 8px;
}
.portlet-title {
	color: #298DCD;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.portlet-content {
	background: none repeat scroll 0 0 #EFFDFF;
	font-size: 0.9em;
	margin: 0 0 15px;
	padding: 5px 8px;
}
.portlet-content ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.portlet-content li {
	padding: 2px 0 4px 0;
}
.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.operations li {
	padding-bottom: 2px;
}
.operations li a {
	color: #0066A4;
	display: block;
	font: bold 12px/15px Arial;
	padding: 2px 0 2px 8px;
	text-decoration: none;
}
.operations li a:visited {
	color: #0066A4;
}
.operations li a:hover {
	background: none repeat scroll 0 0 #80CFFF;
}

#customer-filter .row{
	
}
#customer-filter .row label{
	padding-right: 100px;
}

#customer-filter .row select{
	
}


/*
	INVOICES
 */

.new-button {
	padding-top: 50px;
	padding-left: 0px;
}

.new-button a {
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 50px;
	background: #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.invoice {
	padding: 10px 0;
}


/*
	TABLE
*/

tr {
	background: #F8F8F8;
}

td {
	border: 1px solid #CCCCCC;
	width: 300px;
}
