/*
	GLOBAL
 */
 
html{
	height:100%;
 }

body {
	color: #000;
	font: 10pt Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	height:100%
}

.frontend-page{
	background:#F9EED4 url(images/main_bg.jpg) top center;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5{
	color:#04738E;
}

h1{
	margin-bottom:30px;
}

p{
	line-height:20px;
	margin:10px 0;
}

#bodysite {
	background:#FFFFFF;
	/*-moz-box-shadow:0 2px 5px #000000;*/
	padding:0;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}


/*
	HEADER
 */
 
#headersite {
	background:#8E0D03;
	height:110px;
	border-bottom:5px solid #BE0D21;
	background:-moz-linear-gradient(top, #BE0D21, #840F1E);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#BE0D21), to(#840F1E));
/*	-moz-box-shadow:0 2px 5px #000000;
	-webkit-box-shadow:0 2px 5px #000000;
	box-shadow:0 2px 5px #000000;*/
	 
}

#headersite h2 {
	margin: 0;
	padding: 0;
	line-height: 40px;
}

#headersite a{
	text-decoration: none;
	color: #CCCCCC;
}

#headersite a:hover{
	color: #FFFFFF;
}

#login-status ul{
	margin-top:0px;
	padding:5px 10px;
	background:#F9EED4;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	list-style:none;
	/*-moz-box-shadow:1px 1px 1px #000000;
	-webkit-box-shadow:1px 1px 1px #000000;
	box-shadow:1px 1px 1px #000000;*/
}

#login-status ul li a{
	color:#04738E;
}

#login-status ul li a:hover{
	color:#04738E;
	text-decoration:underline;
}

div#content h2#login-title{
	width:400px;
	padding:5px 20px;
	margin:0 auto;
	background:#6CAED1;
	background:-moz-linear-gradient(top, #6CAED1, #2C68A4);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6CAED1), to(#2C68A4));
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	color:#FFFFFF;
	font-weight:bold;
	text-shadow:1px 1px 1px #000000;
}

#login{
	padding-top:20px;
}

div.form #login-form{
	width:400px;
	margin:0 auto 20px auto;
	background:#65685D;
	background:-moz-linear-gradient(top, #898E7C, #65685D);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#898E7C), to(#65685D));
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	padding:20px;
}

div.form #login-form p{
	color:#CCCCCC;
}

div.form #login-form .row label{
	color:#FFFFFF;
	text-shadow:1px 1px 2px #000000;
}

div.form #login-form .row input#LoginForm_username,
div.form #login-form .row input#LoginForm_password{
	height:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:none;
	padding:0px 7px;
	background-color:#F1FED7;
}

div.form #login-form .rememberMe label{
	margin-left:180px;
}

div.form #login-form .rememberMe input{
	margin-left:160px;
	margin-top:-14px;
}

div.form #login-form .row label.error{
	margin-top:3px;
}

div.form #login-form .row .errorMessage{
	margin:3px 0 3px 160px;
}

/*div.form form#customer-form .row input,
.search-form .form .row input{
	height:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #CDCDCD;
	padding:0 7px;
}*/

div.form form#customer-form .checkbox label{
	margin-top:-35px;
	padding:0;
}

div.form form#customer-form .row label,
div.form form#customer-form .row label.title,
.search-form .form .row label{
	margin-top:5px;
	text-align:right;
	margin-right:10px;
}

div.form .errorMessage{
	margin-left:160px;
}

div.form .errorSummary li{
	list-style:square;
	padding: 5px 0;
}

div.form form#customer-form .row div.errorMessage{
	margin-left:160px;
}

div.form select{
	background:#2C68A4;
	border:1px solid #023D5F;
	color:#FFF;
}

div.form select:hover{
	background:#6CAED1;
	border:1px solid #2C68A4;
}

div.form .success select{
	color:#000;
}

div.form option{
	color:#FFF;
}

div.form option:hover{
	background:#2C68A4;
}

div.form .success option{
	color:#000;
}

div.filter form#ticket-filter .row label{
	margin-top:5px;
	text-align:right;
	padding-right:20px;
}

#top-menu{
	background:url(images/menu_bg3.jpg) top left repeat-x;
	height:50px;
}

#top-menu ul{
	padding-top:25px;
}

#top-menu li{
	display: inline;
	list-style: none;
}

#top-menu li a{
	text-decoration: none;
	font-weight:bold;
	padding:10px 10px 9px 10px;
	margin-top:-50px;
	color:#FFFFFF;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#top-menu li a:hover, #top-navigation li.active a{
	background:#FFF;
	color:#164F62;
}

#header {
	border-bottom: 3px solid #CCCCCC;
	margin-bottom: 20px;
	padding: 0;
	height:75px;
	position:relative;
}

#logo {
	position:absolute;
	left:0;
	bottom:0;
	font-size: 200%;
	line-height: 50px;
}

#mainmenu {
	position:absolute;
	margin-top: 35px;
	right:0;
	bottom:0;
}

#mainmenu ul {
	margin: 0;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	padding:0;
	margin:0;
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 120px;
	border-right:2px solid #ffffff;
}

#mainmenu ul li a.last {
	border-right:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	background-color: #CCCCCC;
	color: #000000;
	text-decoration: none;
}


/*
	SLIDESHOW
 */


#slideshow{
	position:relative;
}


#slideshow .info{
	position: absolute;
	height: 290px;
	width: 275px;
	right:0;
	top:0;
	background-color: #000000;
	opacity: 0.6;
	filter: alpha(opacity=70);
	padding: 30px;
	color: #FFFFFF;
	
}
	
#slideshow .info .row{
	padding: 5px 0;
	border-bottom: 1px dashed #FFFFFF;
}
#slideshow .info .row .title{
}
#slideshow .info .row .value{
}
.image-container{
	margin:0px 0px;
	/*-moz-box-shadow:0 0px 5px #000000;
	-webkit-box-shadow:0 2px 5px #000000;
	box-shadow:0 2px 5px #000000;
	z-index:-100;*/
}


/*
	CONTENT
 */
 
.content {
	
}

.post{
	color:#000;
	margin:0 10px 20px 20px;
}

.ptitle, .stitle {
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
	-moz-box-shadow:0 1px 0 #FFFFFF;
	-webkit-box-shadow:0 1px 0 #FFFFFF;
	box-shadow:0 1px 0 #FFFFFF;
}

.pcontent, .testimonial-content {
	padding: 20px 0;
	/*border-top: 1px solid #FFFFFF;*/
}

.testimonial-content li {
	list-style-type: none;
	border-bottom: 1px solid #CCCCCC;
	-moz-box-shadow:0 1px 0 #FFFFFF;
	-webkit-box-shadow:0 1px 0 #FFFFFF;
	box-shadow:0 1px 0 #FFFFFF;
	padding: 5px;
	color:#000;
}

#post-image {
	padding-right: 20px;
}

.sidebar{
	
	color:#FFF;
	background:#F2F2F2;
}

.scontent{
	margin:20px;
}
 


/*
	FOOTER
 */
 
#footbar {
	background-color: #4D4D4D;
	color: #FFFFFF;
	padding: 20px;
}
 
#footbar h3{
	color: #FFFFFF;
	padding-bottom: 10px;
}

#footbar li {
	list-style-type: square;
	padding-bottom: 3px;
}

#footersite {
	background: #8E0D03;
	/*background:-moz-linear-gradient(top, #38452A, #273A09);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#38452A), to(#273A09));*/
	color: #FFFFFF;
	padding-top:15px;
	z-index:-1;
}

#footersite, #footer, .push{
	height:30px;
}

#footersite h3 {
	color: #FFFFFF;
}

#content h2{
	margin:30px 0 10px 0;
	font-weight:bold;
}

#content h3{
	margin:10px 0 10px 0;
	font-weight:bold;
}


#footer {
	
}
div.flash-error, div.flash-notice, div.flash-success {
	border: 2px solid #DDDDDD;
	margin-bottom: 1em;
	padding: 0.8em;
}
div.flash-error {
	background: none repeat scroll 0 0 #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
div.flash-notice {
	background: none repeat scroll 0 0 #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}
div.flash-success {
	background: none repeat scroll 0 0 #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}
div.flash-error a {
	color: #8A1F11;
}
div.flash-notice a {
	color: #514721;
}
div.flash-success a {
	color: #264409;
}
div.form .rememberMe label {
	display: inline;
}

div.form div.row{
	display:block;
}
div.form div.row label{
	float: left;
	width: 150px;
	text-align:right;
	margin:5px 10px 0 0;
}

div.form div.row input{
	margin-top:5px;
}

div.form div.checkbox label{
	display:inline;
	float:none;
	padding-right:140px;
}

div.form div.checkbox .title{
	display:block;
	float:left;
	padding-right:0;
}

div.form div.buttons input{
	margin-left:160px;
}

div.form div.buttons a.cancel{
	color:#8E1C17;
	margin-left:20px;
}
/*	height:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:#8E1C17;
	background:-moz-linear-gradient(top, #DB8981, #8E1C17);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#DB8981), to(#8E1C17));
	padding:10px 20px;
	text-decoration:none;
	color:#CCCCCC;
	font-weight:bold;
	text-shadow:1px 1px 1px #000000;
	-moz-box-shadow:0 0 3px #000000;
	-webkit-box-shadow:0 0 3px #000000;
	box-shadow:0 0 3px #000000;
	border:1px solid #CCCCCC;
	margin-left:20px;
}*/

div.form div.buttons a.cancel:hover{
	color:#DB8981;
}

div.view {
	border: 1px solid #C9E0ED;
	margin: 10px 0;
	padding: 10px;
}
div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}
div.breadcrumbs span {
	font-weight: bold;
}
div.search-form {
	background: none repeat scroll 0 0 #EEEEEE;
	margin: 10px 0;
	padding: 10px;
}

.portlet {
	margin:20px 0;
}
.portlet-decoration {
	background:#164F62;
	background:-moz-linear-gradient(top, #04738E, #164F62);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#04738E), to(#164F62));
	padding: 10px 8px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.portlet-title {
	color: #FFFFFF;
	text-shadow:1px 1px 1px #000000;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.portlet-content {
	background:#FFFFFF url(images/content_top_bg.png) top left repeat-x;
	font-size: 0.9em;
	margin: 0 0 15px;
	padding: 5px 8px;
	border:1px solid #164F62;
	border-top:none;
}
.portlet-content ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.portlet-content li {
	padding: 2px 0 4px 0;
}
.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.operations li {
	padding-bottom: 2px;
	border-bottom:1px dashed #DCDCDC;
}
.operations li a {
	color: #04738E;
	display: block;
	font: bold 12px/15px Arial;
	padding: 5px 0 5px 8px;
	text-decoration: none;
}
.operations li a:visited {
	color: #04738E;
}
.operations li a:hover {
	color: #164F62;
}

#customer-filter .row{
	
}
#customer-filter .row label,
#ticket-filter .row label{
	width: 200px;
	margin-top:5px;
}

#customer-filter .row select input{
	
}

.customer-info{
	border: 1px solid #CCCCCC;
	padding: 20px 0;
	margin:10px 0;
}

.customer-info .row{
	display: inline;
	padding: 30px;
}

.notification{
	display:block;
	padding: 30px;
	background: #0f0;
	text-align:justify;
}

.notification .delete_button{
	float:right;
	margin-top:-10px;
}

#ticket-filter .row{
	
}

{
	padding-right:100px;
}
$ticket-filter .row sel

.bills th.title, .summary-bills th.title{
	background: #CCCCCC;
}

.bills th.value,
div.ticket .head{
	background: #2C68A4;
	background:-moz-linear-gradient(top, #6CAED1, #2C68A4);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6CAED1), to(#2C68A4));
}

.bills tfoot th.value,
.summary-bills th.value,
.summary-bills th.title,
.summary-bills tfoot th.value,
table.balance-data tfoot th.ar{
	background:#394046;
}

.summary-bills th.value{
	color:#FCB400;
	font-size:24px;
}

table.balance-data tfoot th.value{
	color:#F7931E;
}

div.ticket .head span.title h3{
	color:#FFFFFF;
	text-shadow:1px 1px 1px #000000;
}

div.ticket .head span.status{
	margin-top:13px;
	font-weight:bold;
}


/*
	INVOICES
 */

.new-button {
	padding: 20px 0;
}

.new-button a , .buttons input{
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 50px;
	background: #005500;
	background:-moz-linear-gradient(top, #008800, #005500);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#008800), to(#005500));
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #000;
	-moz-box-shadow:inset 0 0 2px #00cc00;
	-webkit-box-shadow:inset 0 0 2px #00cc00;
	box-shadow:inset 0 0 2px #00cc00;
	color:#CCCCCC;
	text-shadow:1px 1px 1px #000000;
	font-weight:bold;
	border:none;
	cursor:pointer;
}

.new-button a:hover,
.buttons input:hover{
	color:#FFFFFF;
}


.back-button {
	padding: 20px 0;
	float:left;
}


.invoice {
	padding: 10px 0;
}


/*
	TABLE
*/

tr {
	background: #F8F8F8;
}

th, td {
	padding-left:10px;
}

td {
	width: 300px;
	height:30px;
}

.detail-view th{
	text-align:right;
	padding-right:20px;
	width:70px;
	background:#FFF;
}

.detail-view td {
	border:none;
	background:#FFF;
}

.cost tfoot tr th.title,
.cost tfoot tr th.value{
	background:#ffdddd;
	color:#990000;
	text-shadow:1px 1px 0 #FFF;
	font-size:1.5em;
}

.revenue tfoot tr th.title,
.revenue tfoot tr th.value{
	background:#dfd;
	color:#090;
	text-shadow:1px 1px 0 #FFF;
	font-size:1.5em;
}

.bills thead tr th.title,
.bills thead tr th.value{
	background:#ddf;
	color:#009;
	text-shadow:1px 1px 0 #FFF;
	font-size:2em;
}

#total_invoice table thead tr.pbills th.title,
#total_invoice table thead tr.pbills th.value{
	background:#ffdddd;
	color:#090;
	text-shadow:1px 1px 0 #FFF;
	font-size:1.5em;
}

#total_invoice table thead tr.ybills th.title,
#total_invoice table thead tr.ybills th.value{
	background:#ffdddd;
	color:#990000;
	text-shadow:1px 1px 0 #FFF;
	font-size:1.5em;
}

#total_invoice table thead tr.tbills th.title,
#total_invoice table thead tr.tbills th.value{
	background:#ffdddd;
	color:#009;
	text-shadow:1px 1px 0 #FFF;
	font-size:2em;
}

#total table thead tr.trevenue th.title,
#total table thead tr.trevenue th.value{
	background:#dfd;
	color:#090;
	text-shadow:1px 1px 0 #FFF;
	font-size:2em;
}

#total table thead tr.tcost th.title,
#total table thead tr.tcost th.value{
	background:#ffdddd;
	color:#990000;
	text-shadow:1px 1px 0 #FFF;
	font-size:2em;
}


/*
	STYLE.CSS
 */

.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view table.items{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #93978C solid;
}

.grid-view table.items th,
.grid-view table.items td{
	font-size: 0.9em;
	/*border: 1px white solid;*/
	border-bottom:1px solid #93978C;
	border-left:none;
	border-right:none;
	padding: 5px 10px;
	margin-top:1px;
	text-align:left;
}

.grid-view table.items td.button-column{
	text-align:right;
}

.grid-view table.items thead tr,
.grid-view table.items thead tr:hover{
	background: #2C68A4;
	background:-moz-linear-gradient(top, #6CAED1, #2C68A4);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#6CAED1), to(#2C68A4));
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.grid-view table.items thead tr.filters{
	background:#E6E6E6;
	height:40px;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background-color: #FFFFFF;
	height:35px;
}

.grid-view table.items tr.odd 
{
	background: #FFFFFF;
	height:35px;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

.grid-view table.items td.button-column {
	width:100px;
}

.ticket .head{
	background-color:#000;
	color:#fff;
	font-size:17px;
	padding:5px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.ticket h3{
	color:#fff;
	padding-left:1em;
}
.ticket .body{
	margin:5px 0;
	background-color:#99A47E;
	color:#ffffff;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.ticket .body h4{
	color:#ffffff;
	padding-left:1em;
}

.ticket .body p{
	padding:0 1em;
	 
}

.ticket .body span.date{
	margin-top:3px;
}

.ticket .content{
	background-color:#ffffff;
	border:1px solid #99A47E;
	margin:0 -1px;
	color:#000000;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

.number-column{
	width:3em;
}

.chart{
	margin-bottom:50px;
}

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #99A47E;
	font-weight:bold;
	color:#82845D;
	padding:1px 6px;
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:10px;
	border-radius:5px;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #699E04;
}

ul.yiiPager .selected a
{
	background:#99A47E;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

/*
 START ADMIN
 */

#bodysite-admin{
	background:#FFF;
	/* background:-moz-linear-gradient(top, #003471, #448ccb);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#003471), to(#448ccb));*/ 
	padding:20px 0;

}

#bodysite-admin p, #bodysite-admin h2, #bodysite-admin h3{

}
 
/*
 FINISH ADMIN
 */

/*START PAGE*/
.page-content{
padding:20px;

}
.page-content-title h1, .page-content-text{

}

/*FINISH PAGE*/
